# Build CMake/Geant4
build/
cmake-build-*/
*.o
*.d

# Output delle simulazioni
*.root
*.log
/runs*/run_*/log.txt
/runs*/run_*/run.mac

# Cache e grafici generati da notebook/script
*.npz
*.png

# Python e Jupyter
__pycache__/
.ipynb_checkpoints/
