# Cartella di compilazione
build/
bin/
lib/

# File di output di Geant4
*.root
*.csv
*.log

# File temporanei di sistema e IDE
.vscode/
.DS_Store
*~
*.swp

# File di debug o cache
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
install_manifest.txt